@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Grundinställningar */
body {
  background-color: #12171a;
  margin: 0;
  padding: 0;
  font-family: "Lexend", serif;
}

.container {
  overflow: hidden;
  max-width: 1600px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #12171a;
}

/* Header */
.header {
  align-items: center;
  font-family: "Lexend", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #12171a;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 72px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.hamburgerButton {
  display: none;
}

/* Dölj hamburger-knappen på större skärmar */
@media (min-width: 769px) {
  .navigationList {
    display: flex;
    justify-content: center; /* Centrerar länkarna på stor skärm */
    width: 100%;
  }
}

/* Desktopnavigering */
.navigationList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigationList li {
  margin: 0 40px;
}

.navigationList a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigationList a:hover {
  color: #f74816;
  transition: 0.12s;
}

/* Main Content */
.mainContent {
  padding: 40px 20px;
  flex-grow: 1;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -20px;
}

.footer {
  background-color: #12171a;
  color: rgb(158, 156, 156);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 3px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .hamburgerButton {
    display: block;
  }

  .navigationList {
    display: none;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #1e2428;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .mobileMenuOverlay {
    transform: translateX(0);
  }

  .hideMenu {
    transform: translateX(-100%);
  }

  .mobileMenu nav {
    margin-top: 100px;
    padding: 20px;
  }

  .navigationListMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigationListMobile li {
    margin-bottom: 20px;
  }

  .navigationListMobile a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }
}
